<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rakip -->
      <package
            uri="http://bfr.bund.de/rakip/openfsmr"
            class="de.bund.bfr.rakip.openfsmr.openfsmrPackage"
            genModel="model/rakip.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rakip -->
      <package
            uri="http://bfr.bund.de/pmmlab"
            class="de.bund.bfr.rakip.pmmlab.pmmlabPackage"
            genModel="model/rakip.genmodel"/>
   </extension>


</plugin>
